.page-404 {
  height: 100vh; 
  width: 100%;
  padding: 50px 10px 0 10px;
}
.page-404 img {
  display: inline-block;
  max-width: 500px;
}
.page-404 p{
  font-size: 20px;
  font-weight: 600;
}
.page-404 button#btn {
  color: #681f1f !important;
  padding: 0;
  border-radius: 30px !important;
  overflow: hidden;
  height: initial;
}
.page-404 button a {
  color: #ffffff;
  background-color: var(--blue-color);
  padding: 5px 20px;
  display: block;
  font-weight: 600;
}
