.get-in-touch-page {
  position: relative;
}

.get-in-touch-page .left-section,
.get-in-touch-page .right-section{
  padding-top: 1.5em;
}

.get-in-touch-page .left-section h2{
  margin-top: 7rem;
}
.get-in-touch-page .left-section h2::after {
  background-color: #fc3f3f!important;
}
.get-in-touch-page h2 span {
  font-weight: normal;
}

.get-in-touch-page .left-section p {
  font-weight: normal;
  font-size: 17px;
}

.get-in-touch-page .right-section {
  background-color: #fc3f3f;
  background: linear-gradient(138.82deg,#4a00d8,#fc3f3f 99.98%);
}

.get-in-touch-page .right-section .row .col {
  padding-left: 0 !important;
}

.get-in-touch-page .right-section h2{
  margin-top: .5em;
}

.get-in-touch-page .right-section input {
  position: relative;
  padding-left: 0rem;
}

.get-in-touch-page .right-section input::after{



  
}

.get-in-touch-page .right-section h2,
.get-in-touch-page .right-section input,
.get-in-touch-page .right-section textarea,
.get-in-touch-page .right-section input:focus + label{
  color: #ffffff !important
}

.get-in-touch-page .right-section p,
.get-in-touch-page .right-section p a,
.get-in-touch-page .right-section label{
  color: #dadada !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #ffffff;
  box-shadow: none;
}

.get-in-touch-page .right-section textarea{
  min-height: 5rem;
}
.get-in-touch-page .right-section button {
  background-color: transparent;
  position: absolute;
  top: 1.5rem;
  right: 65px;
  border: none;
  border-radius: 0;
  font-weight: 600;
  font-size: 17px;
}
.get-in-touch-page .right-section button::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 2px;
  transition: width .5s;
  background-color: #ffffff;
}
.get-in-touch-page .right-section button:hover::after {
  width: 50px;
}

.get-in-touch-page .right-section p,
.get-in-touch-page .right-section p a {
  font-weight: normal;
  font-size: 14px;
}
.get-in-touch-page .right-section p a {
  text-decoration: underline;
}

.get-in-touch-page .right-section .phone-contact,
.get-in-touch-page .right-section .phone-contact,
.get-in-touch-page .right-section .phone-contact a{
  color: #ffffff;
  font-size: 17px;
}
.get-in-touch-page .right-section .phone-contact img {
  vertical-align: top;
  width: 25px;
  margin-right: 5px;
}
