.hero {
  width: 100vw;
  overflow: hidden;
}

.hero ul li {
  font-size: 17px ;
}

.hero .left-section,
.hero .right-section {
  background-color: #4a00d8;
  height: 90vh;
  padding-top: 5rem;
}

.hero .left-section ul,
.hero .left-section .before-after-content,
.hero .left-section p {
  color: #ffffff;
}
.hero .left-section .before-after-content::after {
  background-color: #ffffff;
}
 
.hero .left-section ul li::before,
.hero .left-section ul li::after {
  content: '>';
  position: absolute;
  left: -22px;
  top: 0px;
}
.hero .left-section ul li::after {
  content: '_';
  left: -15px;
  top: -2px;
}

.hero .right-section ul,
.hero .right-section .before-after-content,
.hero .right-section p{
  color: #4a00d8;
}

.hero .right-section ul li::before,
.hero .right-section ul li::after {
  content: '✎';
  position: absolute;
  left: -22px;
  top: 0px;
  color: #4a00d8;
}

@media only screen and (max-width: 720px),
screen and (max-height: 400px) {
  .hero h2 {
    font-size: 25px !important;
    margin-bottom: 10px;
  }
  .hero .left-section,
  .hero .right-section {
    height: 100%;
    padding-bottom: 20px;
  }
  .hero p,
  .hero ul li {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
