
nav ul li {
  transition: none !important;
}
body{
  overflow: hidden;
}
.top-navbar {
  background-color: #ffffff;
  color: #454545;
  height: 65px;
  border-bottom: 1px solid #c5c5c5;
  overflow: hidden;
}
.top-navbar.visible{
  overflow: visible;
}
.top-navbar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #4a00d8;
}

.top-navbar #nav-mobile{
  transform: translateX(-150px)
}

.top-navbar a,
.top-navbar a.brand-logo {
  transition: color .3s, background-color .2s;
  color: #454545;
  font-weight: 600;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
}
a.brand-logo {
  left: 50%;
  transform: translateX(-50%);
  color: #4a00d8 !important;
}
.top-navbar a:hover {
  color: #4a00d8;
  background-color: inherit;
}
.navbar-link {
  position: relative;
  overflow: hidden;
}
.navbar-link::before {
  transition: bottom .3s;
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: #4a00d8; 
  height: 5px;
}
.navbar-link:hover::before {
  bottom: 0;
}

.estimate-btn{
  padding: 0 35px;
}
.green-bg {
  background-color: #4a00d8;
}
.top-navbar .green-bg:hover {
  color: #ffffff;
  background-color: #4a00d8;
}

.btn-mobile-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #4a00d8;
  width: 65px;
  height: 65px;
  text-align: center;
  border-bottom-right-radius: 100%;
  opacity: 0;
  z-index: -1;
  transition: width .2s, height .2s, border-radius .2s !important;
}
a.btn-mobile-menu:hover{
  background-color: #4a00d8 !important;
}
.btn-mobile-menu::before,  
.btn-mobile-menu::after,
.btn-mobile-menu span {
  content: '';
  position: absolute;
  left: 15px;
  top: 20px;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: transform .2s, left .2s, width .2s;
}  
.btn-mobile-menu::after {
  top: 28px;
  width: 25px;
}
.btn-mobile-menu span {
  top: 36px;
  width: 20px;
}
.fullscreen {
  position: fixed;
  cursor: inherit;
  text-align: center;
  line-height: 100vh;
  border-bottom-right-radius: 0%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 100;
}
.fullscreen.btn-mobile-menu {
  z-index: 100;
}
.fullscreen.btn-mobile-menu::before,
.fullscreen.btn-mobile-menu span  {
  transform: rotate(-45deg);
  width: 15px;
  left: 14px;
  transform-origin: 10px; 
}
.fullscreen.btn-mobile-menu::after {
  width: 30px;
}
.fullscreen.btn-mobile-menu span {
  transform: rotate(45deg);
  cursor: pointer;
}

.fullscreen.btn-mobile-menu + ul.hide-on-medium-and-down{
  top: 50px;
}
.fullscreen.btn-mobile-menu + ul.hide-on-medium-and-down,
.fullscreen.btn-mobile-menu + ul.hide-on-medium-and-down + ul {
  visibility: visible;
  z-index: 20;
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 200;
}
.fullscreen.btn-mobile-menu + ul.hide-on-medium-and-down + ul{
  margin-top: 25px;
}
.fullscreen.btn-mobile-menu + ul.hide-on-medium-and-down li, 
.fullscreen.btn-mobile-menu + ul.hide-on-medium-and-down + ul.hide-on-medium-and-down li {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
.fullscreen.btn-mobile-menu + ul.hide-on-medium-and-down li a, 
.fullscreen.btn-mobile-menu + ul.hide-on-medium-and-down + ul.hide-on-medium-and-down.right li a {
  height: 40px;
  line-height: 40px;
  color: #ffffff;
}
.fullscreen.btn-mobile-menu + ul.hide-on-medium-and-down + ul.hide-on-medium-and-down.right li .estimate-btn.green-bg{
  background-color: #ffffff;
  color: #4a00d8 !important;
  line-height: 25px;
  height: 50px;
  padding: 10px 15px;
}

/*********************************
          MEDIA QUERY
*********************************/
@media only screen and (max-width: 992px) {
  .hide-on-medium-and-down{
    visibility: hidden;
  }
  .hide-on-medium-and-down li {
    top: 10px;
  }
  .btn-mobile-menu {
    opacity: 1;
    z-index: 1;
  }
  
  ul.right {
    float: none !important;
  }
  
}