.our-works-page {
    padding-top: 50px;
}

.technos-title {
    font-weight: 400;
    color: #454545;
    font-size: 40px;
}
.technos-title strong {
    color: #4a00d8;
}

.our-works-page button {
    background-color: transparent;
    border-radius: 36px;
    background-color: #4a00d8;
    background-image: linear-gradient(to right, #4a00d8, #ea3b3b);
}

.our-works-page button a {
    display: block;
    color: #ffffff;
    font-weight: 600;
}

.our-works-page .case-description {
    color: #787878
}

.carousel img {
    height: 100% !important;
    width: 50% !important;
}

.carousel.carousel-slider .control-arrow {
    background-color: rgba(45, 45, 45, .5);
    border-radius: 0;
}
