.slider {
  padding: 7rem 0 5rem 0;
}
.slider .slider-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit ;
  height: 200px; 
  z-index: 0;
  transition: opacity 1s, z-index 1s;
}

.slider .slider-item:nth-child(0) {
  animation: slider 30s ease 0s infinite;
  z-index: 1;
}
.slider .slider-item:nth-child(1) {
  animation: slider 10s ease 10s infinite ;
}
.slider .slider-item:nth-child(2) {
  animation: slider 10s ease 20s infinite ;
}

.slider .before-after-content::before {
  font-weight: 600 ;
}
.slider .before-after-content::after {
  background-color: #fc3f3f;
}

.paroles::before,
.paroles::after {
  content: '"';
}

.citation strong,
.citation cite {
  font-weight: 600;
  font-size: 14px;
  font-style: normal !important;
}

@keyframes slider {
  0% {
    opacity: 0;
    z-index: 0;
  }
  30% {
    opacity: 1;
    z-index: 1;

  }
  100% {
  }
}